{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/pusher.min.js"></script>
    <script src="/js/nfc.js"></script>
    <script src="/js/quintus-demo.js"></script>

{% endblock %}
{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1>Play Time</h1>
        </div>

    </div>
</div>
{% endblock %}