{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="/js/bonsai.min.js"></script>
    <script src="/js/bonsai-basic.js"></script>
{% endblock %}
{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1>Play Time</h1>
        </div>
        <div id="stage"></div>
    </div>
</div>
{% endblock %}