{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .image {
            float: left;
            width: 45%;
        }

        img {
            max-width: 100%;
            width: 100%;
        }

        .instructions {
            float: right;
            width: 45%;
        }

    </style>
    <div class="image">
        <img src="http://prismmagazine.ca/wp-content/uploads/2015/03/pug-life-funny-pictures.jpg" alt=""/>
    </div>
    <div class="instructions">
        <ul>
            <li><a href="{{ path('play_game') }}">Play the game!</a></li>
            <li><a href="{{ path('evil_index') }}">Be evil!</a></li>
        </ul>
        <p>
            It works via different screens on the same computer, different computers entirely. <strong>We recommend having your speakers up for this.</strong>
        </p>
        <p>
            To spawn enemies as a bad guy, send a text message to 07800 006 374 containing something negative: "Fear me! For I am your evil nemesis!" For example.
        </p>
        <p>
            It's designed to be played with a controller and pug bombs are activated via Amazon Echo. "alexa, ask for a pug bomb"
        </p>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}